body {
  background-color: rgba(222, 184, 135, 0.123);
  text-align: center;
}
.welcome {
  margin: auto;
  text-align: center;
  background-color: rgba(222, 184, 135, 0.527);
}

.welcome h1 {
  margin-top: 40px;
  font-family: "Noto Serif", serif;
  color: rgb(85, 63, 49);
  font-size: 30px;
}

.brand {
  margin: auto;
  text-align: center;
  color: rgb(85, 63, 49);
  font-size: 40px;
  font-family: serif;
  padding: 30px;
}

.line {
  width: 300px;
  margin-bottom: 30px;
}

.img-cont {
  position: relative;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.button {
  background-color: darkcyan;
  color: white;
  border: none;
  outline: none;
  width: 20%;
  height: 7%;
  font-weight: 600;
  position: absolute;
  z-index: 99;
  left: 41%;
  top: 88%;
}
#img-two {
  display: none;
}

@media screen and (max-width: 750px) {
  .button {
    font-size: 10px;
  }
  .img-cont {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  #img-one {
    display: none;
  }
  #img-two {
    display: block;
  }
  .button {
    left: 38%;
    width: 30%;
  }
}
